<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Website for Pariyaram Medical College</title>

  <!-- css -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/plugins/cubeportfolio/css/cubeportfolio.min.css">
  <link href="/css/nivo-lightbox.css" rel="stylesheet" />
  <link href="/css/nivo-lightboxtheme/default/default.css" rel="stylesheet" type="text/css" />
  <link href="/css/owl.carousel.css" rel="stylesheet" media="screen" />
  <link href="/css/owl.theme.css" rel="stylesheet" media="screen" />
  <link href="/css/animate.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet">

  <!-- boxed bg -->
  <link id="bodybg" href="/Medicio/bodybg/bg1.css" rel="stylesheet" type="text/css" />
  <!-- template skin -->
  <link id="t-colors" href="/Medicio/color/default.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Medicio
    Theme URL: https://bootstrapmade.com/medicio-free-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="top-area">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6">24 Hours Services</div>
            <div class="col-sm-6 col-md-6">
              <p class="bold text-right">Call us now +62 008 65 001</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container navigation">

            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
              <a class="navbar-brand" href="/courses">
                        <img src="/Medicio/img/logo.png" alt="" width="150" height="40" />
                    </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                            <ul class="nav navbar-nav">
                              <a href="/" class="navbar-brand">Home</a>
                              <a href="/aboutus" class="navbar-brand">About Us</a>
                                <%for(var i=0;i<navlinks.length;i++){%>
                                    <li class="nav-item">
                                      <a class="nav-link" href=<%=navlinks[i].link%>"><%=navlinks[i].title%></a>
                                    </li>
                                  <% } %>
                                <%for(var k=0;k<navdropdown.length;k++){ %>
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
                                      <%=navdropdown[k].title%>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <% for(var r=0;r<list.length;r++){ %>
                                        <a class="dropdown-item" style="text-align: center;color:black" href="<%=navdropdown[k].link %>/<%=r%>"><%=list[r].name%></a>
                                        <hr>
                                        <div class="dropdown-divider"></div>
                                      <% } %>
                                    </div>
                  
                                  </li>
                                <%}%>
                                </ul>
                  
                          </div>
                          <!-- /.navbar-collapse -->
                        </div>
    </nav>

    <section id="intro" class="intro">
            <div class="intro-content">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                      <h2 class="h-ultra">PARIYARAM Medical College<br>Hospital</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                      <h6 class="h-light">Provide best quality healthcare for you</h6>
                        <br>
                    </div>
                    <div class="well well-trans">
                      <div class="wow fadeInRight" data-wow-delay="0.1s">
                       
                        <ul class="lead-list">
                          <li><span class="fa fa-check fa-2x icon-success"></span><span class="list"><strong>Academy of Medical Sciences,  popularly known as Pariyaram Medical College is one of the biggest Super  Speciality Medical Institution in India.&nbsp;
                        <br /></strong></span></li>
                            
                          <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong> Kerala has made giant strides in  the field of health and set the standard in indicators of public health for the  rest of the nation.
                               This is achieved by ensuring literacy, equitable land  distribution and civic rights to the entire society. </strong></span></li>
                          <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong> The increased awareness of right to health, rightfully,  led to an increasing demand for health care facilities and a high utilization  rate of the existing resources. The positive vibes to this demand, from the  public and private sector, resulted in the growth and development of health  care delivery systems in Kerala. Even though the general health status is  satisfactory, there is an unmet need and demand for quality medical care, in  terms of infrastructure and manpower.</strong></span></li>
                          <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>  Pariyaram Medical College is one  of the successful ventures in quasi-government sector which aims to bridge this  gap. Pariyaram Medical College is a centre of excellence and is the ultimate  destiny regarding the health care needs of the people in Malabar region. Its  sprawling campus consists of Pariyaram Medical College &amp; Hospital, Dental  College &amp; Hospital, Nursing College, Pharmacy College, Nursing School, Sahakarana  Hrudayalaya and an English Medium Public School.
                        </strong><br /></span></li>
                            <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong>Pariyaram Medical College and  Hospital is the premier super speciality medical institution the only one of  its kind in India,
                            </strong></span></li>
                            <li><span class="fa fa-check fa-2x icon-success"></span> <span class="list"><strong> The teaching Hospital of Pariyaram  Medical College is a 1200 bedded hospital complex is supported by more than 20  specialities and eight super speciality departments manned by very competent  experienced medical professionals who render their service with a personal  touch. The hospital has grown to the stature of a 'Referral Hospital of North  Kerala in a short span of its service inline with the vision of its promoters.  This modern hospital has 18 Operation Theatres, 
                                fully equipped with advanced  bio-medical equipments to conduct most advanced and complicated surgical  procedures at all speciality and super speciality levels.
                                    <br /><br /><br /></strong><br /></span></li>
                        </ul>
                        <p class="text-right wow bounceIn" data-wow-delay="0.4s">
                          <a href="#" class="btn btn-skin btn-lg">Learn more <i class="fa fa-angle-right"></i></a>
                        </p>
                      </div>
                  
                  </div>
                    </div>
                    
                </div>
    
                    </div>
                    </div>
                </div>
            </div>
          </section>
    <section id="facilities" class="home-section paddingbot-60">
        <div class="container marginbot-50">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow fadeInDown" data-wow-delay="0.1s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Our facilities</h2>
                        <p>Ea melius ceteros oportere quo, pri habeo viderer facilisi ei</p>
                    </div>
                    </div>
                    <div class="divider-short"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-6 col-lg-12">
                          <div class="item"><a href="/img/photo/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/img/works/1@2x.jpg"><img src="/Medicio/img/photo/1.jpg" class="img-responsive" alt="img"></a></div>
                         <div class="item"><a href="/img/photo/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/img/works/2@2x.jpg"><img src="/Medicio/img/photo/2.jpg" class="img-responsive " alt="img"></a></div>
                          <div class="item"><a href="/img/photo/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/img/works/3@2x.jpg"><img src="/Medicio/img/photo/3.jpg" class="img-responsive " alt="img"></a></div>
                          <div class="item"><a href="/img/photo/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/img/works/4@2x.jpg"><img src="/Medicio/img/photo/4.jpg" class="img-responsive " alt="img"></a></div>
                          <div class="item"><a href="/img/photo/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/img/works/5@2x.jpg"><img src="/Medicio/img/photo/5.jpg" class="img-responsive " alt="img"></a></div>
                          <div class="item"><a href="/img/photo/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/img/works/6@2x.jpg"><img src="/Medicio/img/photo/6.jpg" class="img-responsive " alt="img"></a></div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollTo.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/stellar.js"></script>
    <script src="/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/nivo-lightbox.min.js"></script>
    <script src="/js/custom.js"></script>
      
</body>
</html>